<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <img src="./assets/img/User.jpg">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <h4 class="text-center">Deposit Money</h4>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <hr>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label class="ml-2">Customer Name</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="customer name" id="cstname">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label class="ml-2">Account Number</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="account number" id="accountNumber">
                                </div>
                            </div>
                            </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <label class="ml-2">Deposite Amount</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="enter amount" id="fdamount">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label class="ml-2">Date</label>
                                <div class="form-group">
                                    <input type="Date" class="form-control" placeholder="enter amount" id="withdrwlAmount">
                                </div>
                            </div>
                            

                            </div>

                            <div class="form-group mt-2">
                                <input type="button" id="loginbutton" class="btn btn-outline-primary btn-block btn-lg" value="Proceed">
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>