<body>
  <div class="row">
      <div class="col-md-12">
          <nav class="navbar navbar-expand navbar-dark bg-success">
              <div class="container">
                  <i class="fa fa-university fa-1x mr-2"></i>
                  <a href="#" class="navbar-brand">Online Mini Bank</a>
              <div class="collapse navbar-collapse">
                  <ul class="navbar-nav ml-auto">
          
          
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Services</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" routerLink="customer-login">Customer Login</a>
                      <a class="dropdown-item" routerLink="account-creation">Account Creation</a>
                      <a class="dropdown-item" routerLink="transfer-money">Transfer Money</a>
                      <a class="dropdown-item" routerLink="fixed-deposit">Fixed Term Deposit</a>
                    </div>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Transaction</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" routerLink="withdrawl">Withdraw</a>
                        <a class="dropdown-item" routerLink="deposit">Deposit</a>
                        <a class="dropdown-item" href="#">Account Balance</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Verification</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Account Form</a>
                        <a class="dropdown-item" href="#">Fixed Deposit</a>
                       
                    </div>
                </li>
        

                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Login</a>
                      <div class="dropdown-menu">
                          <a class="dropdown-item" routerLink="clerk">Clerk</a>
                          <a class="dropdown-item" routerLink="cashier">Cashier</a>
                          <a class="dropdown-item" href="#">Manager</a>
                          <a class="dropdown-item" href="#">Logout</a>
                      </div>
                  </li>
                  </ul>
              </div>
              </div>
          </nav>
      </div>
  </div>

  
  
