<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">

                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <h4 class="text-center">Account Opening Form</h4>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <hr>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-6">
                                <label class="ml-3">customer Type</label>
                                <div class="form-group ml-2">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                        <label class="form-check-label" for="inlineRadio1">staff</label>
                                      </div>
                                      <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                        <label class="form-check-label" for="inlineRadio2">public</label>
                                      </div>
                                      <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                                        <label class="form-check-label" for="inlineRadio3">senior citizen</label>
                                      </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label class="ml-2">Customer Name</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="surname middle first" id="transferAmount">
                                </div>
                            </div>

                            
                            </div>
                        

                        <div class="row">
                            <div class="col-md-6">
                                <label class="ml-2">Date of Birth</label>
                                <div class="form-group">
                                    <input type="date" class="form-control" placeholder="enter date" id="birthDate">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label class="ml-2">Nationality</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="nationality" id="nationality">
                                </div>
                            </div>

                            </div>

                        <div class="row">                           
                            
                            <div class="col-md-6">
                                <label class="ml-3">Gender</label>
                                <div class="form-group ml-2">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                        <label class="form-check-label" for="inlineRadio1">male</label>
                                      </div>
                                      <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                        <label class="form-check-label" for="inlineRadio2">female</label>
                                      </div>
                                      <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                                        <label class="form-check-label" for="inlineRadio3">other</label>
                                      </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                            <label class="ml-3">Identity Proof</label>
                            <div class="form-group">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                    <label class="form-check-label" for="inlineCheckbox1">Adahar card</label>
                                  </div>
                                  <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                                    <label class="form-check-label" for="inlineCheckbox2">pan card</label>
                                  </div>
                                  <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                                    <label class="form-check-label" for="inlineCheckbox3">election card </label>
                                  </div>
                                  </div>
                            </div>
                            

                        </div>    

                        <div class="row">
                            <div class="col-md-6">
                                <label class="ml-2">Address</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="enter full address" id="address">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label class="ml-2">Mobile Number</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="mobile number" id="mobileNumber">
                                </div>
                            </div>

                            </div>

                        
                            <div class="form-group mt-2">
                                <input type="button" id="loginbutton" class="btn btn-info btn-block btn-lg" value="Submit">
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>